<link class="theme-dependent" rel='stylesheet' type='text/css' media='screen' href='/css/profile.css' />
<div class="card-container">
    <div id="personal" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <p class="card-title">Informações Pessoais</p>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                            <p class="card-item-text-topic">Foto de Perfil </p>
                            <div class="pr">
                                <img class= "p-image" src="<%- pageData.user.foto %>" alt="Foto do Usuário">
                            </div>
                           

                            <div class="hr"><hr></div>
                            <p>E-mail: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text" value="<%- pageData.user.email %>">
                                </div>
                            </p>

                            <p>Nome: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text" value="<%- pageData.user.name %>">
                                </div>
                            </p>

                            <p>Sobrenome: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text" value="<%- pageData.user.surname %>">
                                </div>
                            </p>

                            <p>Nome de Usuário: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text" value="<%- pageData.user.nusuario %>">
                                </div>
                            </p>

                            <p>Número do Telefone: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text" value="<%- pageData.user.telefone %>">
                                </div>
                            </p>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="password" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <p class="card-title">Redefinir Senha</p>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                            <p>Digite a senha atual: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text">
                                </div>
                            </p>
                            <p>Digite a nova senha: </p>
                            <p class="card-item-text-content">
                                <div class="column-4">
                                    <input type="text">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <p class="card-title">Remover Conta</p>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                            <p class="card-item-text-topic">Você pode apagar sua conta clicando no botão abaixo. </p>
                            <p class="card-item-text-content">
                                <p class="card-item-text-content">
                                    <a href="index-nao-aut.html"> Remover</a>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>